.body {
    margin: none;
    min-height: 100vh;
    overflow-y: hidden;
    /* background-color: blue; */
}

header {
    height: 70px;
    /* background-color: lightblue; */
    display: flex;
    margin: auto;
    text-align: center;
}
.main-container {
    display: flex;
    min-height: calc(100vh-70px);
}
.sidebar {
    min-width: 320px;
    /* background-color: lightgray; */
    display: flex;
}
.content {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}
.book {
    display: flex;
    /* background-color: brown; */
    /* overflow-y:hidden; */
}
.iframe {
    /* min-height: 2000px; */
    width: 100%;
    /* height: 100%;  */
    overflow-y: visible;
    /* scrolling: none; */
}
.page-control {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 5px 10px;
    gap: 10px;
}
.page-control > button {
    font-size: 18px;
    padding: 10px;
    width: 100px;
}
.inner-text {
    font-weight: 700;
    font-size: 24px;
    margin: auto auto;
}