
.items {
    display: grid;
    gap: 30px;
    grid-template-columns: repeat(3, 350px);
    grid-template-rows: repeat(8, 80px);

}
.item {
    padding: 10px;
    border: 1px solid black;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    margin-bottom: 20px;
}
.item i {
    font-size: 28px;
}
.item p {
    margin-left: 10px;
    font-size: 22px;
    font-family: "Montserrat", Arial, Helvetica, sans-serif;
}
h2 {

    margin-bottom: 20px;
    font-family: "Montserrat", Arial, Helvetica, sans-serif;
}