.navbar {
    background-color: #fff;
    height: 70px;
    display: flex;
    align-items: center;
}

.menu-bars {
    margin-left: 2rem;
    font-size: 2rem;
    background: none;
}

.nav-menu {
    background-color: #fff;
    content-visibility: hidden;
    height: 100vh;
    display: flex;
    justify-content: center;
    position: relative;
    top: 0;
    left: -100%; 
    transition: all 850ms ease-out;
}

.nav-menu.active {
    left: 0;
    transition: 350ms;
    z-index: 3;
    width: max-content;
    content-visibility: visible;
    transition: all 850ms ease-in;
}
.Table-header {
    padding: 0px 30px;
    font-size: 24px;
}
.nav-text {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 8px 0px 8px 16px;
    list-style: none;
    height: 60px;
}

.nav-text a {
    text-decoration: none;
    color: black;
    font-size: 18px;
    width: 95%;
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0 16px;
    border-radius: 4px;
}
.nav-text a:hover {
    background-color: #1a83ff;
    font-weight: bold;
    color: #fff;
}

.nav-menu-items {
    width: 100%;
}

.navbar-toggle {
    background-color: #fff;
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.scrollable-sidebar {
    height:fit-content;
}
.scrollable-sidebar-active {
    height: fit-content;
    overflow-x: scroll;
}
span {
    margin-left: 16px;
}