.header-search {
    display: flex;
    justify-content: space-between;
}
.search-form {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin-left: 10px;
}
.search-box-part {
    margin: 0 40px;
}
.searchbox {
    border: 1px solid #ccc;
    width: 800px;
    height: 45px;
    border-radius: 30px;
    padding-left: 25px;
}
.search-logo-icn {
    margin-left: -40px;
    font-size: 25px;
    color:#ccc;
}
.filter-btn {
    font-size: 18px;
    border: 1px solid #ccc;
    background-color: #fff;
    padding: 12px;
    width: 100px;
    border-radius: 25px;
}
.filter-btn:hover {
    box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.06);
}